h2{
    margin: 0px;
    border: 2px solid black;
    background-color : rgb(189, 178, 183);
    color : rgb(0, 0, 7);
    text-align: center;
}

h4{
    margin: 10px;
}

p{
    margin: 0px;
}

img{
    width: 700px;
    height: 400px;
}

div{
    background-color : rgb(189, 178, 183);
    
}

span{
    margin: 15px;
    color: rgb(47, 47, 48);
    text-align: center;
    
}